github "ReactiveX/RxSwift"
github "RxSwiftCommunity/RxDataSources" "1.0.4"
github "RxSwiftCommunity/RxGesture"
github "RxSwiftCommunity/NSObject-Rx"
github "rs/SDWebImage"
github "Marxon13/M13Checkbox"
github "teambition/TBEmptyDataSet"